.heading{

    &-secondary{
        font-size: 3rem;
        font-weight: 600;
        color:$color-primary;
        text-shadow: 0 .1rem .2rem $color-primary-dark;
        //background-color: $color-primary-dark;
        padding: .5rem 1.5rem;
        
    }

}