.header{
    position: relative;
    margin-bottom: 2rem;
    
    &__slide{
              
        @include respond(medium){ 
            margin-top: 10rem; 
        }

        &-each{
            background-repeat:no-repeat;
            //background-size: cover;
            background-size:100% 80vh;
            object-fit: cover;
            height: 80vh;       
            width: 100% !important;
            position: relative;

             @include respond(medium){ 
                background-size:100% 50vh;
                height: 50vh;  
             }
        }

        &--heading{
            position: absolute;
            bottom:2%;
            left:2rem;
            width: 20%;              
            font-size: 2.8rem;
            font-weight: 600;
            color: $color-white;
            text-shadow: 0 .1rem .2rem $color-black;            
            text-align: left;   
             
            @include respond(medium){ 
                width: 30%;
            }
            
            &-span{
                padding: .5rem 1.5rem;
                line-height: 1.6;
                -webkit-box-decoration-break:clone;
                box-decoration-break: clone;        
                background-image: linear-gradient(to right bottom ,
                    rgba($color-primary-light,.85),
                    rgba($color-primary-dark ,.85));
            }        
        }
    }
}

//edit react slideshow package styles need important to override default styles
.react-slideshow-container {
    position: relative;
    & .nav{
        &:first-child{
            position: absolute;
            top:50%;
            left: 1rem;
            transform: translateY(-50%);
        }

        &:last-child{
            position: absolute;
            top:50%;
            right: 1rem;
            transform: translateY(-50%);
        }
        
        background: rgba($color-primary,.5) !important;  
        border-radius: 1rem !important;  
        height: 4rem !important;
        width: 4rem !important;
        
        &:first-child span{
            margin-left: 0 !important;
        }

        &:hover{
            background: $color-primary !important;   
        }
    }   

    & + div.indicators{
        position: absolute;
        bottom:40%;
        right:2rem;
        transform: translateX(-60%);
        z-index: 10;
        flex-direction: column;

        @include respond(medium){ 
            bottom:-2rem;
            right:50%;
            transform: translateX(50%);
            flex-direction: row;
        }

        & > div{
            background: rgba($color-primary,.6) !important;
            margin-top:1rem;
            height: 1rem !important;
            width: 1rem !important;

            &:hover{
                background: rgba($color-primary-dark,.8) !important;
            }

            &.active{
                background: rgba($color-black,.8) !important;
            }
        }
    }

}